{% extends 'base.html' %}
{% block title %}-Update Password{% endblock %}

{% block page_content %}
<div class="container-sm">
	<div class="row justify-content-center">
		<div class="card card-body col-5 mt-5" style="height:50rem;">
			<form action={{url_for('.update_password')}} method="POST">
				{{form.hidden_tag()}}
				<div class="row justify-content-center">
					{{form.current_password(placeholder="Current Password")}}
					<!--Muestra los errores en la validación del campo username-->
					<ul>
						{% for error in form.current_password.errors %}
						<li style="color: red;">{{ error }} </li>

						{% endfor %}
					</ul>

					{{form.newPassword(placeholder="Nuevo Password")}}	
					{{form.submit()}}
				</div>
			</form>
		</div>
	</div>
</div>




{% endblock %}
